
.btn {
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      border-radius: 10rem;
      transition: all 0.2s;
      display: inline-block;
      position: relative;
      font-size: $default-font-size;
    }
  
    &--white {
      background-color: white;
      color: $color-grey-dark;
    }
  
    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
  
    &:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.2);
    }
  
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.6s;
    }
  
    &--white::after {
      background-color: white;
    }
  
    &:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  
  
  
  .btn--animated {
    animation: moveInBottom 1s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
  

  .btn-text {
    &:link,
    &:visited {
      font-size: $default-font-size;
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: 3px;
      transition: all .2s;


    }

    &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, .15);
      transform: translateY(-2px) ;
    }

    &:active {
      box-shadow: 0 0.5rem 1rem rgba($color-black, .15);
      transform: translateY(-1px) ;
    }
  }