.composition {

    position: relative;
    transition: all .4s;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        position: absolute;
        z-index: 10;
        transition: all .4s;
        outline-offset: 1.6rem;
        border-radius: .5rem;


        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 { 
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1.3rem solid $color-primary;
            transform: scale(1.1) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;

        }

        
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.9);
    }
 
    
    
}